<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <row>
        <div>****Barcode Here*****</div>
    </row>
    <row>
        <div>ชื่อผู้รับ / Receiver   {{name_receiver}}</div>
        <div>ที่อยู่ / Address   {{address_receiver}}</div>
        <div>เบอร์โทรศัพท์ / Tel no. {{tel}}   รหัสไปษณี / Postal Code {{postal_code}}</div>
    </row>
    <row>
        
    </row>
</body>
</html>